$blueColor: #193655 ; 
$orangeColor : #F97B22 ; 
$darkOrange: #C15000 ; 
$backgroundColor : #EBEBD3  ;
$whiteColor : #FFFFFF




// @font-face {
//     font-family: Raleway;
//     src: url(Raleway/Raleway-Regular.ttf);
// }


// body{
//     font-family: RaleWay;
// }
