// @font-face {
//     font-family: Raleway;
//     src: url(Raleway/Raleway-Regular.ttf);
// }


// body{
//     font-family: RaleWay;
// }

$blueColor:#193655;
$bodyColor:#C3C3C3;
$secondaryColor:#F97B22;